/* Hey */


.icon-link {
  display: inline-block;
  text-decoration: none;
}
.icon {
  width: 50px;
  height: 50px;
}




/* Icon specific CSS */


.burger01_1 {
  fill:none;
  stroke:#000;
  stroke-width:5;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dashoffset: 0;
  stroke-dasharray: 24px 150px;
  fill: transparent;

  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), 0.5s fill 0.2s cubic-bezier(0.25, -0.25, 0.75, 1.25);
}
.burger01_2 {
  fill:none;
  stroke:#000;
  stroke-width:5;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dashoffset: 0;
  stroke-dasharray: 23px 40px;

  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
}

.clicked .burger01_1 {
  stroke-dashoffset: -31px;
  stroke-dasharray: 150px;
}
.clicked .burger01_2 {
    stroke-dashoffset: -28px;
  }
